@font-face {
    font-family: "Montserrat";
    src: url(Montserrat-Light.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}

html {
    height:100%;
}

body {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
}

:root {
    --height-header: 60px;
}

#header {
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--height-header);
    background-color: #fff;
    color: #000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    top: 0;
}

.nav-left {
    height: 100%;
    width: 100%;
}

.brand {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.brand-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 14px;
}

.brand-heading {
    color: #4B6587;
    letter-spacing: 3px;
    font-size: 24px;
}



.nav-center {
    height: 100%;
    width: 100%;
}

.nav-center li {
    display: inline-block;
}

.nav-center li a {
    text-decoration: none;
    color: #000;
    display: inline-block;
}

.menu-list {
    display: flex;
    height: 30px;
    align-items: center;
    list-style: none;
}

.menu-item {
    height: var(--height-header);
    line-height: var(--height-header);
    padding: 0 20px;
    text-transform: uppercase;
    font-weight: 200px;
    cursor: pointer;
    text-align: center;
}

/* .sub-nav {
    padding-left: 8px;
} */
/* .menu-item:first-child {
    position: relative;
} */
/* .menu-item:first-child:hover .sub-nav-list {
    display: block;
} */

.nav-center li:hover {
    color: #4B6587;
    border-bottom: 5px solid #4B6587;
}

.nav-center li a:hover {
    color: #4B6587;
}

.sub-nav-list {
    list-style: none;
    display: none;
    position: absolute;
    background: white;
    width: 200px;
}

.sub-nav-item {
    padding: 0 8px;
}

.sub-nav-item:hover {
    background-color: #ccc;
}

.nav-right {
    height: 100%;
    width: 100%;
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
}

.search,
.personal,
.cart {
    height: var(--height-header);
    line-height: var(--height-header);
    padding: 0 18px;
    font-size: 22px;
}

.search {
    position: relative;
    overflow: hidden;
}

.input-search {
    width: 100%;
    padding: 10px 16px;
    padding-right: 42px;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 30px;
}

.search-icon {
    position: absolute;
    right: 7%;
    top: 54%;
    transform: translateY(-50%);
    font-size: 18px;
    background-color: #4b6587;
    color: #fff;
    width: 37px;
    height: 37px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.personal {
    font-size: 26px;
}

.cart {
    font-size: 20px;
    position: relative;
}

.amount {
    position: absolute;
    top: 23%;
    right: 22%;
    background-color: #4b6587;
    color: #fff;
    border-radius: 50%;
    font-size: 10px;
    width: 14px;
    height: 14px;
    line-height: 14px;
    text-align: center;
}

img {
    max-width: 100%;
}

.photos {
    list-style: none;
    width: 300px;
    height: 200px;

}

/* .grid {
    margin: auto;
    padding: 0 20px;
    max-width: 5rem;
    display: grid;
    grid-template-columns: 500px 200px;
    gap: 1px;
} */

h2 {
    font-family: Montserrat;
    font-size: 30px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
    border-bottom: 2px solid black;
    border-style: hidden;
}

section {
    width: 100%;
    height: 100%;
    padding-right: 10px;
}

aside {
    width: 100%;
    height: 100%;
    display: flex; 
    flex-direction: column;
    float: right;
    margin-top: 30px;
    margin-bottom: 30px; 
}


footer {
    clear:both;
    padding:1rem;
    background-color: #F0E5CF;
    display: grid;
    grid-template-rows: 1fr auto;
}

main.grid { 
    display: flex;
    padding: 20px;
    padding-left: 100px;
    padding-right: 100px;
    justify-content: space-between;
}

button.gh {
    text-align: center;
    padding: 10px;
    padding-right: 30px;
    padding-left: 30px;
    margin-left: 100px;
    border-radius: 5px;
    color: #4B6587;
    border-color: #4B6587;
    background-color: #fff;
}

footer img {
    width: 120px;
    height: 120px;
    border-radius: 10px;
}

section>ul {
    margin-top: 30px;
}

li.main-product {
    border: 1px solid #d6d6d6;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 13px;
    padding-top: 10px;
    width: 100%;
    padding-right: 10px;
}

div.tien {
    display: flex;
    flex-direction: column;
}

div.img-product, 
div.content-product, 
div.buttons_added, 
div.tien{
    width: 100%;
    height: 100%;
}

.previous_round {
    text-decoration: none;
    padding-right: 5px;
}

a {
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}

span.money, h6 {
    float:right
}



ul.top, ul.bottom {
    border-bottom: 1px solid #d6d6d6;
}

h3.thanh_toan {
    font-size: 15px;
    font-family: Montserrat;
}

div.bill {
    border: 1px solid #d6d6d6;
    padding: 20px;
    background-color: #F0E5CF;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

div.voucher {
    border: 1px solid #d6d6d6;
    padding: 20px;
    background-color: #F0E5CF;
    border-radius: 5px;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


h3.thanh_toan, li.pvc {
    margin: none;
    text-decoration: none;
    border-bottom: 1px solid #d6d6d6;
}

aside > ul {
    line-height: 40px;
}

button.tc {
    text-align: center;
    margin: none;
    padding: 10px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 5px;
    color: white;
    border-color: #4B6587;
    background-color: #4B6587;
    margin-top: 10px;
    width: 100%;
}

/* section {
    float: left;
} */

/* <b:tag name='style'><![CDATA[ */
.buttons_added {
    opacity:1;
    display:inline-block;
    display:-ms-inline-flexbox;
    display:inline-flex;
    white-space:nowrap;
    vertical-align:top;
}
.is-form {
    overflow:hidden;
    position:relative;
    background-color:#f9f9f9;
    height:2.2rem;
    width:1.9rem;
    padding:0;
    text-shadow:1px 1px 1px #fff;
    border:1px solid #ddd;
}
.is-form:focus,.input-text:focus {
    outline:none;
}
.is-form.minus {
    border-radius:4px 0 0 4px;
}
.is-form.plus {
    border-radius:0 4px 4px 0;
}
.input-qty {
    background-color:#fff;
    height:2.2rem;
    text-align:center;
    font-size:1rem;
    display:inline-block;
    vertical-align:top;
    margin:0;
    border-top:1px solid #ddd;
    border-bottom:1px solid #ddd;
    border-left:0;
    border-right:0;
    padding:0;
}
.input-qty::-webkit-outer-spin-button,.input-qty::-webkit-inner-spin-button {
    -webkit-appearance:none;
    margin:0;
}
/* ]]> </b:tag> */

input {
    border:none;
    border-bottom: 1px solid #d6d6d6;
    background-color: #F0E5CF;
}

button.coupon {
    border:none;
    background-color: #F0E5CF;
    padding-left: 20px;
}

form {
    display: flex;
}

i::before {
    padding: 5px;
}

div.top {
    height: 50px;
    padding-top: 10px;
}

div.bottom {
    height: 150px;
    border-top: 1px solid #d6d6d6;
    padding: 20px 0 0 100px;
}

div.dm {
    float: right;
    display: flex;
    justify-content: space-between;
    padding: 0 100px 0 0;
    font-size: 13px;
    text-align: center;
}

.dm1, .dm2, .dm3 {
    padding: 0 10px 0 10px;
}

div.img {
  display: flex;
  padding: 0 0 0 100px;
}
   




