* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

#login_page {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    height: 100vh;
}
#login_page section {
    margin: auto 20%;
}

/* form_title */
form.login-form .form_title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 4px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
form.login-form h1 {
    /* Chào mừng */
    font-weight: 500;
    font-size: 48px;
    line-height: 120%;
    color: #4B6587;

    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
form.login-form h2 {
    /* Điền thông tin của bạn bên dưới */
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    /* identical to box height, or 27px */

    color: rgba(43, 43, 43, 0.5);

    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

/* form_input */
.form_input {
    display: flex;
    flex-direction: column;
    padding: 0px;
    gap: 24px;
    margin: 5% 0;
}
.form_input .input-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
}
.form_input .input-box p {
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #4B6587;

    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
.form_input .input-box input {
    /* Input */
    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px;

    background: #FFFFFF;
    border: 1px solid #D7D7D7;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08);
    border-radius: 8px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;


    /* CakeShop@gmail.com */
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}

/* form_forget */
.form_forget {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}
.form_forget .input-remember {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}
.form_forget .input-remember input {
    box-sizing: border-box;

    width: 16px;
    height: 16px;

    background: #FFFFFF;
    border: 1px solid #D7D7D7;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.06);
    border-radius: 3px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}
.form_forget .input-remember label {
    /* Ghi nhớ */
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    /* identical to box height, or 24px */
    text-align: center;

    color: #4B6587;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}
.form_forget p {
    /* Quên mật khẩu */
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    /* identical to box height, or 24px */
    text-align: center;

    color: #4B6587;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

/* form_button */
.form_button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 16px;
}
.form_button button.button-login {
    padding: 12px 24px;
    width: 100%;
    height: 100%;

    background: #4B6587;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08);
    border: none;
    border-radius: 8px;

    /* Đăng nhập */
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;

    color: #FFFFFF;
}
.form_button button.button-login_gg {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px;
    gap: 8px;

    background: #FFFFFF;
    border: 1px solid #D7D7D7;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    width: 100%;
    height: 100%;

    /* Đăng nhập bằng Google */

    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    /* identical to box height, or 24px */

    color: #4B6587;
}
.form_button button.button-login_gg img {
    position: relative;
    height: 24px;
}

/* form footer */
form.login-form h3 {
    /* Bạn chưa có tài khoản? */
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    /* identical to box height, or 24px */
    text-align: center;

    color: #4B6587;
}
form.login-form h3 > a {
    /* Đăng ký */
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    /* identical to box height, or 24px */
    text-align: center;

    color: #4B6587;
}
    
/* aside */
#login_page aside {
    display: flex;
    position: relative;
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    overflow: hidden;
    padding: 16px;
    /* background-color: #4B6587; */
}

#login_page aside .bg_img{
    /* display: flex; */
    /* position: relative; */
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 40px;
    background: url("https://images.unsplash.com/photo-1614145121029-83a9f7b68bf4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80")
                no-repeat;
    background-position: bottom;
    background-size: cover;
    /* display: block; */
    /* max-width: 100%; */
    /* max-height: 100%; */

    border-radius: 40px;
    /* object-fit: contain; */
}